<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead">
                <div class="inner">
                    <h3 class="masthead-brand">Finance calculator</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li>{{#link-to 'index' }}Home{{/link-to}}</li>
                            <li>{{#link-to 'sign_in' }}Sign In{{/link-to}}</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="">
                {{outlet}}
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>


